* {
    margin: 0;
    
}
body {
    background-color: #63B7DB;
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin-top: 30px;
    text-align: center;
    color: #fff;

}

#form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    background-color: #477A8F;
    color: #fff;
}
#form div {
    margin: 10px 0;
    padding: 10px 0;
}
#form input {
    border: none;

}
.btn {
    margin: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    
}

.tabletFormat table {
    margin: 0 auto;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
}