* {
    margin: 0;
    
}
body {
    background-color: #63B7DB;
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin-top: 20px;
    text-align: center;
    color: #fff;

}

#form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    background-color: #477A8F;
    color: #fff;
}
#form div {
    margin: 10px 0;
    padding: 10px 0;
}
#form input {
    border: none;
}

#container-table {
    margin: 30px;
}
